on:
  release:
    types:
      - published

jobs:
  notify_slack:
    runs-on: ubuntu-latest
    steps:
    - name: notify slack
      uses: 8398a7/action-slack@v3
      with:
        status: success
        fields: repo,commit,author_name,username,text
        author_name: release-bot
        username: username
        text: ${{ github.ref }} released
      env:
        SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
