on:
  release:
    types:
      - published

jobs:
  notify_slack:
    runs-on: ubuntu-latest
    steps:
    - name: notify slack
      uses: 8398a7/action-slack@v3
      with:
        status: success
        fields: repo,commit
        author: release-bot
      env:
        SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
